{% extends 'layout.html.twig' %}
{% block content %}

<div class="all-tweet">
        <div class="t-show-wrap">	
         <div class="t-show-inner">
            <div class="t-show-popup">
                <div class="t-show-head">
                    <div class="t-show-img">
                        <img src="{{profileImage}}"/>
                    </div>
                    <div class="t-s-head-content">
                        <div class="t-h-c-name">
                            <span><a href="PROFILE-LINK">{{screenName}}</a></span>
                            <span>{{username}}</span>
                            <span>{{postedOn}}</span>
                        </div>
                        <div class="t-h-c-dis">
                            {{status}}
                        </div>
                    </div>
                </div>
            
                <div class="t-show-body">
                  <div class="t-s-b-inner">
                   <div class="t-s-b-inner-in">
                     <img src="TWEET-IMAGE" class="imagePopup"/>
                   </div>
                  </div>
                </div>
                
            </div>
            <div class="t-show-footer">
                <div class="t-s-f-right">
                    <ul> 
                        <li><button><a href="#"><i class="fa fa-share" aria-hidden="true"></i></a></button></li>	
                        <li><button><a href="#"><i class="fa fa-retweet" aria-hidden="true"></i></a></button></li>
                        <li><button><a href="#"><i class="fa fa-heart-o" aria-hidden="true"></i></a></button></li>
                            <li>
                            <a href="#" class="more"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
                            <ul> 
                              <li><label class="deleteTweet">Delete Tweet</label></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        </div>
        
	{% endblock %}  